<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@1,300&family=Quicksand:wght@300;500;700&family=Red+Hat+Display:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title> TO DO LIST</title>
</head>
<body>

    <div class="container">

        <div class="profile">
            <div id="date">Domingo 4 de junio</div>
            <h1>¡HOLA! USUARIO </h1>
            <span>vamos a cumplir tus metas</span>
        </div>
        <div class="add-work">
            <input type="text" id="input" placeholder="agregar nueva tarea">
            <i id="enter" class="fas fa-plus-circle"></i>
        </div>
            
        <div class="secction-work">
            <h3>Tareas pendientes</h3>
            <ul id="lista">
                <li>
                    <i class="far fa-circle co" id="0" data="realizado"></i>
                    <p class="text"> hace la tarea de arquitectura </p>
                    <i class="fas fa-trash de" data="elimiando" id="0"></i>

                </li>
            </ul>

        </div>

    </div>

    <script src="main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</body>
</html>